.grid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}

h3 {
  text-align: center;
}
